
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
/* <!-- header nav  part start --> */
.head{


}
.nav-primary{
   display: flex;
  justify-content:space-around; 
}
.nav-1{

}
.nav-2{

}
.nav-3{
  display: flex; 
}
.nav-4{
font-size: 2rem;
font-weight: 700;
}
.nav-5{
  gap: 5px;
}
.nav-6{
  display: flex;
  list-style: none;
  gap: 32px;
  
}
.nav-7{
color: #FEA301;

}
.nav-8{
color: #01ACFD;

}
.nav-9{
color:#05D4DF;

}
.nav-10{
color: #5D58EF;
}
.btn-1{
  background-color: #FEA301;
  color: white;
  font-size: 20px;
  padding: 10px 62.5px;
  border-radius: 12px;
  border: none;
  height: 51px;
  width: 197px;
}
/* header nav end */
/* header banner start */
.banner-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 85%;
  margin: 0 auto;
}
.banner-2{

}
.banner-3{
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 5px; 
}
.banner-4{
color: #FEA301;

}
.banner-5{
color: #01ACFD;
}
.banner-6{

}
.banner-7{

}

.btn-2{
background-color: black;
border-radius:12px ;
padding: 10px  49.5px;
color: white;
font: bold;
}
/* header banner end */

/* main style part-1 start */
.main-container-1{
  background-image: url("../assets/bg.png");
}
.main-heading{
  text-align: center;
}
.primary{
  /* border: 2px mediumspringgreen solid; */
  display: flex;
  justify-content: center;
  gap: 28px;
  text-align: center;
  
}
.sub-container-1{
  background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  /* border: red solid 1px ; */
 width: 367.8px;
 height: 476.78px;
 border-radius: 19px;
}
.sub-container-1> .img{
  width: 130px;
  height: 111px;
}
.content-1{
  color: #808080;
}
.read-more-1{
  color: #64C8FF;
}
.sub-container-2{
  background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  /* border: blue solid 1px; */
  width: 367.8px;
  height: 476.78px;
  border-radius: 19px;
}
.content-2{
  color: #808080;
}
.read-more-2{
  color: #F0AA00;
}
.sub-container-3{
  background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  /* border: green solid 1px; */
  width: 367.8px;
  height: 476.78px;
  border-radius: 19px;
}
.content-3{
  color: #808080;
}
.read-more-3{
color: #8700FF;
}
.btn-master{
  text-align: center;
  gap: 10px;

}
.btn-3{
  height: 60px;
  width: 60px;
  background-color: #FEA301;
  color: white;
  font-weight:900 ;
  border-radius: 100%;
  border: none;
}
.btn-4{
  height: 60px;
  width: 60px;
  background-color: #FEA301;
  color: white;
  font-weight:900 ;
  border-radius: 100%;
  border: none;
}
/* main style part-1 end */
/* main style part-2 start */
.primary-part-2{
  display: grid;
  /* background-color: #64C8FF; */
  grid-template-columns: repeat(2, 1fr);
  
  
}
.card-1{
  grid-row: span 2;
}
.primary-part-3{

}
/* footer-style-start */
.footer-main-container{
  display: flex;
  justify-content: space-around;
  background-color:#06aefc ;
}
.footer-1{
  display: flex;
}

/*   small screen */
@media screen and (max-width:567px) {
  .banner-1{
    /* flex-direction: column ; */
    flex-direction: column-reverse;
  }
  .banner-2{
    text-align: center;
  }
/* body part-1 responsive */
  .primary{
    flex-direction: column;
    gap: 12px;
  }
  .btn-master{
    display: none;
  }
/* body part-2 responsive */

/* footer part */
.footer-main-container{
  flex-direction: column;
}
}
