
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
/* <!-- header nav  part start --> */
.head{

}
.nav-1{
  display: flex;
  /*  navbar problem  */
   justify-content:space-around;
}
.nav-2{

}
.nav-3{

}
.na-4{
font-size: 2rem;
font-weight: 700;
}
.nav-6{
  list-style: none;
  gap: 5px;
}
.nav-7{
color: #FEA301;

}
.nav-8{
color: #01ACFD;

}
.nav-9{
color:#05D4DF;

}
.nav-10{
color: #5D58EF;
}
.btn-1{
  background-color: #FEA301;
  color: white;
  font-size: 20px;
  padding: 10px 62.5px;
  border-radius: 12px;
  border: none;
}

